* {
  border: none;
  border-radius: 1rem;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  min-width: 12px;
}

window#waybar {
  background: transparent;
  color: #f7e3c9;
}

#workspaces {
  margin: 4px 2px;
  padding: 2px;
}

.modules-left,
.modules-right {
  padding: 4px;
  margin: 10px;
}

#workspaces,
.modules-left {
  background: rgba(34, 28, 36, 0.66);
  text-shadow: 0 0 6px rgba(252, 222, 175, 0.66);
}
#workspaces button,
.modules-left button {
  padding: 6px 3px;
  margin: 4px 2px;
  color: #f7e3c9;
  background: transparent;
}
#workspaces button.focused,
.modules-left button.focused {
  background: #5c6e9c;
  color: #f7e3c9;
}
#workspaces button.urgent,
.modules-left button.focused {
  background: #ff684d;
  color: #f7e3c9;
}

#custom-*,
menu,
menuitem {
  padding: 8px 0;
  margin: 4px 2px;
  background: rgba(34, 28, 36, 0.66);
  color: #f7e3c9;
}

#workspaces button:hover,
#custom-*:hover,
menuitem:hover {
  background: rgba(247, 227, 201, 0.66);
  color: #221c24;
}
