window {
  background-color: #221c24;
  color: #f7e3c9;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  border: 2px solid #ff9f6a;
  border-radius: 1rem;
}

#input {
  margin: 10px;
  padding: 6px 10px;
  border: 1px solid #ff9f6a;
  background-color: #352d36;
  color: #bae4ef;
  border-radius: 1rem;
}

#entry {
  padding: 6px 10px;
  margin: 2px 10px;
  border-radius: 1rem;
}

#entry,
#entry * {
  background-color: #352d36;
  color: #9ac6d2;
}

#entry:selected,
#entry:selected * {
  background-color: #f4b68a;
  color: #221c24;
}


#scroll {
  margin: 4px 0;
}

#outer-box {
  margin: 10px;
}
